In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [6]:
df_origin = pd.read_csv('../Datasets/mobiles.csv')
df_origin

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39
2,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
3,Medium,64,3,1,1,2942,4.6,5366,42999,0.10,23.07
4,Medium,128,4,2,1,2815,4.6,745,69149,0.02,5.15
...,...,...,...,...,...,...,...,...,...,...,...
425,Small,32,3,2,1,4000,4.3,1870,7999,0.30,1.50
426,Small,64,4,2,1,4000,4.3,1783,9699,0.28,1.73
427,Large,128,6,3,1,4250,4.2,1554,21999,0.12,3.42
428,Medium,32,3,2,1,5000,4.2,8161,8299,0.07,6.77
429,Small,32,3,2,1,4000,4.3,1870,8190,0.36,1.53

In [7]:
df_origin.columns

Index(['screen_size', 'ROM', 'RAM', 'num_rear_camera', 'num_front_camera',
       'battery_capacity', 'ratings', 'num_of_ratings', 'sales_price',
       'discount_percent', 'sales'],
      dtype='object')

# Q1

In [108]:
df1 = df_origin.copy()

In [109]:
df1['performance'] = df1['ROM'] / 32 + df1['RAM'] / 2 + df1['num_rear_camera'] + df1['num_front_camera'] + df1['battery_capacity'] / 1000

In [110]:
df1

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales,performance
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52,6.800
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39,9.815
2,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52,6.800
3,Medium,64,3,1,1,2942,4.6,5366,42999,0.10,23.07,8.442
4,Medium,128,4,2,1,2815,4.6,745,69149,0.02,5.15,11.815
...,...,...,...,...,...,...,...,...,...,...,...,...
425,Small,32,3,2,1,4000,4.3,1870,7999,0.30,1.50,9.500
426,Small,64,4,2,1,4000,4.3,1783,9699,0.28,1.73,11.000
427,Large,128,6,3,1,4250,4.2,1554,21999,0.12,3.42,15.250
428,Medium,32,3,2,1,5000,4.2,8161,8299,0.07,6.77,10.500
429,Small,32,3,2,1,4000,4.3,1870,8190,0.36,1.53,9.500

In [111]:
mean = df1['sales'].mean()

In [112]:
mean

29.75232558139535

In [15]:
std = df1['sales'].std()

In [116]:
df1_target = df1['sales'].apply(lambda x : abs(x - mean) > 2 * std)

In [117]:
df1 = df1.loc[df1_target,]
df1

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales,performance
98,Medium,128,6,2,1,4000,4.6,122001,18999,0.09,231.79,14.00
110,Large,128,6,4,2,4500,4.5,267028,15999,0.20,427.22,17.50
158,Large,32,2,2,1,5000,4.4,223672,7499,0.16,167.73,10.00
159,Large,32,2,2,1,5000,4.4,223672,7499,0.16,167.73,10.00
193,Medium,16,2,2,1,4000,4.4,226996,6499,0.07,147.52,8.50
198,Medium,32,2,2,1,4000,4.4,226996,6999,0.12,158.87,9.00
243,Medium,16,2,2,1,4000,4.4,226996,6499,0.07,147.52,8.50
381,Medium,64,4,2,2,4000,4.5,125016,12459,0.22,155.76,12.00
382,Medium,64,6,2,1,4000,4.5,129661,13500,0.20,175.04,12.00
395,Small,32,3,1,1,4100,4.4,642373,8565,0.04,550.19,8.60
396,Medium,64,4,1,1,4000,4.4,357064,10999,0.04,392.73,10.00
402,Medium,64,4,2,1,4000,4.5,141177,14450,0.03,204.00,11.00
404,Medium,64,6,2,1,4000,4.5,129661,13400,0.13,173.75,12.00
407,Medium,64,4,2,2,4000,4.5,125016,13990,0.12,174.90,12.00
412,Medium,64,4,2,1,4000,4.5,141177,12900,0.04,182.12,11.00
418,Small,64,4,2,1,3080,4.4,470905,10490,0.25,493.98,10.08

In [118]:
df1['performance'].mean().round(2)

11.01

# Q2

In [119]:
df2 = df_origin.copy()
df2

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39
2,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
3,Medium,64,3,1,1,2942,4.6,5366,42999,0.10,23.07
4,Medium,128,4,2,1,2815,4.6,745,69149,0.02,5.15
...,...,...,...,...,...,...,...,...,...,...,...
425,Small,32,3,2,1,4000,4.3,1870,7999,0.30,1.50
426,Small,64,4,2,1,4000,4.3,1783,9699,0.28,1.73
427,Large,128,6,3,1,4250,4.2,1554,21999,0.12,3.42
428,Medium,32,3,2,1,5000,4.2,8161,8299,0.07,6.77
429,Small,32,3,2,1,4000,4.3,1870,8190,0.36,1.53

In [120]:
df2_drop = df2['num_rear_camera'].apply(lambda x : x == 1)
df2_drop

0       True
1      False
2       True
3       True
4      False
       ...
425    False
426    False
427    False
428    False
429    False
Name: num_rear_camera, Length: 430, dtype: bool

In [121]:
df2 = df2.loc[~df2_drop,]
df2

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39
4,Medium,128,4,2,1,2815,4.6,745,69149,0.02,5.15
5,Medium,64,4,2,1,2815,4.6,745,64149,0.02,4.78
6,Medium,128,4,2,1,2815,4.6,745,69149,0.02,5.15
7,Medium,64,4,2,1,2815,4.6,745,64149,0.02,4.78
...,...,...,...,...,...,...,...,...,...,...,...
425,Small,32,3,2,1,4000,4.3,1870,7999,0.30,1.50
426,Small,64,4,2,1,4000,4.3,1783,9699,0.28,1.73
427,Large,128,6,3,1,4250,4.2,1554,21999,0.12,3.42
428,Medium,32,3,2,1,5000,4.2,8161,8299,0.07,6.77
429,Small,32,3,2,1,4000,4.3,1870,8190,0.36,1.53

In [122]:
col_cate = ['battery_capacity', 'ratings', 'num_of_ratings', 'sales_price', 'discount_percent', 'sales']

In [123]:
df2 = df2[col_cate]

In [124]:
df2

,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
1,2815,4.5,244,57149,0.04,1.39
4,2815,4.6,745,69149,0.02,5.15
5,2815,4.6,745,64149,0.02,4.78
6,2815,4.6,745,69149,0.02,5.15
7,2815,4.6,745,64149,0.02,4.78
...,...,...,...,...,...,...
425,4000,4.3,1870,7999,0.30,1.50
426,4000,4.3,1783,9699,0.28,1.73
427,4250,4.2,1554,21999,0.12,3.42
428,5000,4.2,8161,8299,0.07,6.77
429,4000,4.3,1870,8190,0.36,1.53

In [125]:
df2_corr = df2.corr()
df2_corr = df2_corr.replace(1, 0)
df2_corr

,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
battery_capacity,0.000000,-0.424129,0.034902,-0.503019,0.257373,0.025680
ratings,-0.424129,0.000000,0.191655,0.151153,-0.118578,0.226075
num_of_ratings,0.034902,0.191655,0.000000,-0.260279,0.212442,0.949114
sales_price,-0.503019,0.151153,-0.260279,0.000000,-0.098640,-0.247760
discount_percent,0.257373,-0.118578,0.212442,-0.098640,0.000000,0.223471
sales,0.025680,0.226075,0.949114,-0.247760,0.223471,0.000000

In [126]:
df2_corr['sales'] = abs(df2_corr['sales'])
df2_corr['sales']

battery_capacity    0.025680
ratings             0.226075
num_of_ratings      0.949114
sales_price         0.247760
discount_percent    0.223471
sales               0.000000
Name: sales, dtype: float64

In [127]:
df2_corr['sales'].idxmax()

'num_of_ratings'

In [128]:
round( 0.949114, 2)

0.95

# Q3

In [129]:
df3 = df_origin.copy()
df3.shape
df3

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39
2,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
3,Medium,64,3,1,1,2942,4.6,5366,42999,0.10,23.07
4,Medium,128,4,2,1,2815,4.6,745,69149,0.02,5.15
...,...,...,...,...,...,...,...,...,...,...,...
425,Small,32,3,2,1,4000,4.3,1870,7999,0.30,1.50
426,Small,64,4,2,1,4000,4.3,1783,9699,0.28,1.73
427,Large,128,6,3,1,4250,4.2,1554,21999,0.12,3.42
428,Medium,32,3,2,1,5000,4.2,8161,8299,0.07,6.77
429,Small,32,3,2,1,4000,4.3,1870,8190,0.36,1.53

In [130]:
df3.columns

Index(['screen_size', 'ROM', 'RAM', 'num_rear_camera', 'num_front_camera',
       'battery_capacity', 'ratings', 'num_of_ratings', 'sales_price',
       'discount_percent', 'sales'],
      dtype='object')

In [131]:
df3['screen_size'].value_counts()

Large         242
Medium        146
Small          34
Very Large      4
Very Small      4
Name: screen_size, dtype: int64

In [132]:
df_screen_size_ohe = pd.get_dummies(df3['screen_size'])
df_exclude_screen_size = df3[['ROM', 'RAM', 'num_rear_camera', 'num_front_camera','battery_capacity', 'ratings', 'num_of_ratings', 'sales_price','discount_percent', 'sales']]

In [133]:
df_exclude_screen_size

,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,64,4,2,1,2815,4.5,244,57149,0.04,1.39
2,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
3,64,3,1,1,2942,4.6,5366,42999,0.10,23.07
4,128,4,2,1,2815,4.6,745,69149,0.02,5.15
...,...,...,...,...,...,...,...,...,...,...
425,32,3,2,1,4000,4.3,1870,7999,0.30,1.50
426,64,4,2,1,4000,4.3,1783,9699,0.28,1.73
427,128,6,3,1,4250,4.2,1554,21999,0.12,3.42
428,32,3,2,1,5000,4.2,8161,8299,0.07,6.77
429,32,3,2,1,4000,4.3,1870,8190,0.36,1.53

In [134]:
df3 = pd.concat([df_screen_size_ohe, df_exclude_screen_size], axis=1)
df3

,Large,Medium,Small,Very Large,Very Small,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,0,0,0,0,1,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,0,0,1,0,0,64,4,2,1,2815,4.5,244,57149,0.04,1.39
2,0,0,0,0,1,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
3,0,1,0,0,0,64,3,1,1,2942,4.6,5366,42999,0.10,23.07
4,0,1,0,0,0,128,4,2,1,2815,4.6,745,69149,0.02,5.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,0,0,1,0,0,32,3,2,1,4000,4.3,1870,7999,0.30,1.50
426,0,0,1,0,0,64,4,2,1,4000,4.3,1783,9699,0.28,1.73
427,1,0,0,0,0,128,6,3,1,4250,4.2,1554,21999,0.12,3.42
428,0,1,0,0,0,32,3,2,1,5000,4.2,8161,8299,0.07,6.77
429,0,0,1,0,0,32,3,2,1,4000,4.3,1870,8190,0.36,1.53

In [135]:
df3.columns

Index(['Large', 'Medium', 'Small', 'Very Large', 'Very Small', 'ROM', 'RAM',
       'num_rear_camera', 'num_front_camera', 'battery_capacity', 'ratings',
       'num_of_ratings', 'sales_price', 'discount_percent', 'sales'],
      dtype='object')

In [136]:
df3.shape

(430, 15)

In [137]:
col_X = ['Large', 'Medium', 'Small', 'Very Large', 'Very Small', 'ROM', 'RAM', 'num_rear_camera', 'num_front_camera', 'battery_capacity', 'ratings', 'num_of_ratings', 'sales_price', 'discount_percent']
col_Y = 'sales'

In [138]:
X = df3[col_X]
y = df3[col_Y]
seed = 123

In [139]:
X.shape

(430, 14)

In [140]:
y.shape

(430,)

In [141]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size =0.8, random_state = seed)

In [142]:
scaler = MinMaxScaler()
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [143]:
X_train_scaler = scaler.transform(X_train)
X_test_scaler = scaler.transform(X_test)

In [144]:
neighbors = [3,5,7,9,11]

In [145]:
targetNeighbor = -1
minScore = 1e9
for neighbor in neighbors:
    modelknn = KNeighborsRegressor(n_neighbors=neighbor)
    modelknn.fit(X_train_scaler, y_train)
    y_pred = modelknn.predict(X_test_scaler)
    score = mean_squared_error(y_test, y_pred)
    print(neighbor)
    print(score)    
    if (score < minScore):
        minScore = score
        targetNeighbor = neighbor

print("------------------")
print(targetNeighbor)
print(minScore)

3
1635.4379954780363
5
2381.520687627907
7
2828.8309384907457
9
3078.5168532443304
11
3154.0245733999623
------------------
3
1635.4379954780363